* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chewy', cursive;
    background: #f4f4f4;
    font-size: 3;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
}

#body {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

* {
    margin: 0.5rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

.img img {
    height: 200px;
    width: 400px;
    background: #f4f4f4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 400px;
    background: #333;
    color: white;
    border-radius: 5px;
    /* margin-left: 0 auto; */
    padding: 2rem;
    box-shadow: 1rem 1em 2rem orange, -1rem -1em 2rem orange;
}

#guess-input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-style: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

#submit {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem 1rem;
    background: orange;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media(max-width:400px) {
    body {
        overflow: visible;
    }

    .img img {
        width: 300px;
        margin-top: 2rem;
    }
}